<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.kusob.mapper.NoticeMapper"/>
        <package name="com.kusob.mapper.MemberMapper"/>
        <package name="com.kusob.mapper.WalletMapper"/>
        <package name="com.kusob.mapper.MemberToWalletsMapper" />
        <package name="com.kusob.mapper.FriendsMapper" />
        <package name="com.kusob.mapper.PostsMapper" />
        <package name="com.kusob.mapper.PostLikesMapper" />
        <package name="com.kusob.mapper.CommentsMapper" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/NoticeMapper.xml"/>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/WalletMapper.xml"/>
        <mapper resource="mapper/MemberToWalletsMapper.xml"/>
        <mapper resource="mapper/FriendsMapper.xml"/>
        <mapper resource="mapper/PostsMapper.xml"/>
        <mapper resource="mapper/PostLikesMapper.xml"/>
        <mapper resource="mapper/CommentsMapper.xml"/>
    </mappers>
</configuration>