<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.kusob.mapper.NoticeMapper"/>
        <package name="com.kusob.mapper.MemberMapper"/>
        <package name="com.kusob.mapper.WalletMapper"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/NoticeMapper.xml"/>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/WalletMapper.xml"/>
    </mappers>
</configuration>