<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kusob.mapper.MemberMapper">
    <select id="selectByEmail" resultType="com.kusob.domain.member.Member">
        select email from Members where email=#{email};
    </select>
    <select id="selectByLoginEmail" resultType="com.kusob.domain.member.Member">
        select * from Members where email=#{email};
    </select>
    <select id="selectById" resultType="com.kusob.domain.member.MemberFreindDto">
        select *
        from Members
        WHERE id=#{id};
    </select>
    <insert id="join">
        insert into Members(email, password, nickname) values(#{email}, #{password}, #{nickname});
    </insert>
    <select id="selectByFriend" resultType="com.kusob.domain.member.MemberFreindDto">
        SELECT *
        FROM Members
        where nickname like "%"#{nickname}"%" and not id=#{id}
    </select>
    <select id="nicknameCheck" resultType="String">
        SELECT nickname
        from Members
        where nickname=#{nickname};
    </select>
    <update id="loginDate">
      UPDATE Members
      SET
        login_date=now()
      WHERE  nickname=#{nickname};
    </update>
</mapper>