<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kusob.mapper.NoticeMapper">
    <select id="selectById" resultType="com.kusob.domain.notice.Notice">
        select * from coin.notice WHERE notice_id = #{notice_id};
    </select>
    <select id="selectByPageNumber" resultType="com.kusob.domain.notice.Notice">
        select * from coin.notice;
    </select>
    <select id="selectAll" resultType="com.kusob.domain.notice.Notice">
        select * from Jewelry_Pocket.Notices;
    </select>
    <!--<select id="selectSearch" resultType="skhu.model.User">-->
    <!--exec [dbo].searchselp #{selgisu}, #{searchsel}, #{searchtxt}-->
    <!--</select>-->
    <!--<select id="selectByUid" resultType="skhu.model.User">-->
    <!--select * from [user] where u_id = #{uid}-->
    <!--</select>-->
    <!--<update id="updateMng">-->
    <!--update [dbp1].[dbo].[USER]-->
    <!--set u_status = #{ustatus}-->
    <!--where u_id = #{u_id};-->
    <!--update [dbp1].[dbo].[USER]-->
    <!--set u_status = #{u_status}-->
    <!--where u_id = #{uid}-->
    <!--</update>-->
</mapper>