<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kusob.mapper.WalletMapper">

    <insert id="addWallet" useGeneratedKeys="true" parameterType="com.kusob.domain.wallet.Wallet" keyProperty="wallet_id">
        INSERT INTO 
          Wallets (wallet_name,wallet_add,wallet_type,create_date)
        VALUES
          (#{walletName},#{walletAddr},#{walletType},now());
    </insert>
    <select id="walletList" resultType="com.kusob.domain.wallet.Wallet">
     SELECT *
     FROM Wallets
     WHERE wallet_id= #{wallet_id};
    </select>
    <update id="editWallet">
        UPDATE Wallets
        SET
          wallet_name=#{walletName},
          wallet_add=#{walletAddr},
          wallet_type=#{walletType}
        WHERE
          wallet_id=#{walletId};
    </update>
    <delete id="deleteWallet">
        delete FROM Wallets where wallet_id=#{id};
    </delete>


</mapper>