<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kusob.mapper.WalletMapper">

    <insert id="addWallet" useGeneratedKeys="true" parameterType="com.kusob.domain.wallet.Wallet" keyProperty="wallet_id">
        INSERT INTO 
          Wallets (wallet_name,wallet_add,wallet_qrcode, create_date)
        VALUES
          (#{walletName},#{walletAddr},#{walletQr},now());
    </insert>
    <select id="selectByWalletId" resultType="com.kusob.domain.wallet.Wallet">
      select *
      from Wallets
      where wallet_id=#{id}
    </select>

</mapper>