<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kusob.mapper.WalletMapper">
    <select id="selectByEmail" resultType="com.kusob.domain.wallet.Wallet">
        SELECT * FROM wallet where memberId = (
	        select memberId from member where email = #{email}
        );
    </select>
    <insert id="addWallet">
        INSERT INTO 
          wallet (walletName, memberId) 
        VALUES
          (#{walletName}, (select memberId from member where email = #{email}));
    </insert>
    <update id="editWallet">
        UPDATE
          wallet 
        SET
          walletName = #{walletName}
        WHERE
          walletId = #{walletId};
    </update>
</mapper>